{
  "passPerPreset": true,
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    {
      "plugins": [
        "./plugins/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ]
}
